<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>覆盖率查询</title>
</head>
<body>

    <br>
    <br>
    <div class="col-md-2 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
                年份
            </span>
            <select class="form-control" id="inputYear">
                <option id="18年">18年</option>
                <option id="19年">19年</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
                季度
            </span>
            <select class="form-control" id="inputQuarter">
                <option id="1季度">1季度</option>
                <option id="2季度">2季度</option>
                <option id="3季度">3季度</option>
                <option id="4季度">4季度</option>
            </select>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">
                程序类型
            </span>
            <select class="form-control" id="inputType">
                <option id="0" value="0">核心程序分支覆盖率</option>
                <option id="1" value="1">变更程序分支覆盖率</option>
            </select>

        </div>
    </div>

    <input type="button" value="查询" id="search" class="btn btn-info">
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover table-responsive" id="dataTable" style="height:300px; ">
    </table>

    <br>
    <br>
    <div id="echartsId">
        <div id="echarts1" style="width: 33%;height:400px;float:left;margin: 0 auto"></div>
        <div id="echarts2" style="width: 33%;height:400px;float:left;margin: 0 auto"></div>
        <div id="echarts3" style="width: 33%;height:400px;float:left;margin: 0 auto"></div>
    </div>

    <!--<table  style="width:100%" id="echartsId">-->
        <!--<tr>-->
            <!--<td style="width:30%"><div id="echarts1" style="width: 100%;height:400px;margin: 0 auto"></div></td>-->
            <!--<td style="width:30%"><div id="echarts2" style="width: 100%;height:400px;margin: 0 auto"></div></td>-->
            <!--<td style="width:30%"><div id="echarts3" style="width: 100%;height:400px;margin: 0 auto"></div></td>-->
        <!--</tr>-->
    <!--</table>-->
</body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}
    <script src="{% static 'js/jquery/jquery-1.12.4.min.js' %}" ></script>

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-table-fixed-columns.css' %}" rel="stylesheet">

    <script src="{% static 'bootstrap/js/bootstrap.js' %}" ></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/bootstrap-table.js' %}" ></script>
    <script src="{% static 'bootstrap/js/bootstrap-table-zh-CN.js' %}" ></script>
    <script src="{% static 'bootstrap/js/bootstrap-table-fixed-columns.js' %}" ></script>


    <script src="{% static 'js/echarts/echarts.min.js' %}" ></script>

<script>


    function initOption(echarsName,data1,data2){
        option = {
            title : {
                text: echarsName+'程序覆盖率和分支覆盖率'
            },
            tooltip : {
                trigger: 'axis',
                formatter:function(params){
                    return params[0].name+"<br>"+params[0].seriesName+":"+params[0].data+"%"+"<br>"+params[1].seriesName+":"+params[1].data+"%";
                },
            },
            legend: {
                data:['程序覆盖率','分支覆盖率'],
                y:'bottom'
            },
            toolbox: {
                show : true,
                feature : {
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    interval: 0,
                    axisLabel:{
                        formatter:function(value){
                            return value.split("").join("\n");
                        }
                    },
                    data : ['1组','2组','3组','4组','5组','6组','7组','8组','10组','京北方组']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel:{
                        formatter:'{value}%'
                    },
                    max :100,
                }
            ],
            series : [
                {
                    name:'程序覆盖率',
                    type:'bar',
                    data:data1,
                    markLine : {
                        symbol: 'none',
                        label:{
                            position:"middle"   ,       //将警示值放在哪个位置，三个值“start”,"middle","end"  开始  中点 结束
                            formatter: '目标100%'
                        },
                        data : [
                            {
                                yAxis: 100           // 警戒线的标注值，可以有多个yAxis,多条警示线   或者采用   {type : 'average', name: '平均值'}，type值有  max  min  average，分为最大，最小，平均值
                            }
                        ]
                    }
                },
                {
                    name:'分支覆盖率',
                    type:'bar',
                    data:data2,
                    markLine : {
                        symbol: 'none',
                        label:{
                            position:"middle"   ,       //将警示值放在哪个位置，三个值“start”,"middle","end"  开始  中点 结束
                            formatter: '目标50%'
                        },
                        data : [
                            {
                                yAxis: 50
                            }
                        ]
                    }
                }
            ]
        };
        return option;
    }
    var c1;
    var c2;
    var c3;
    function querToColName(){
        var quarter = $("#inputQuarter").val();
        if(quarter == '1季度'){
            c1='1月版';
            c2='2月版';
            c3='3月版';
        }else if(quarter == '2季度'){
            c1='4月版';
            c2='5月版';
            c3='6月版';
        }else if(quarter == '3季度'){
            c1='7月版';
            c2='8月版';
            c3='9月版';
        }else if(quarter == '4季度'){
            c1='10月版';
            c2='11月版';
            c3='12月版';
        }
    }

    function drawEcharts(id,echarsName,data1,data2){
        var option = initOption(echarsName,data1,data2);
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById(id));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    $("#search").on("click", function () {
        //$('#dataTable').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
        $.ajax({
            url:"/coverageSearch/",
            type:"POST",
            //dataType:'json',
            data:{
                season : $('#inputYear').val()+$('#inputQuarter').val(), // 请求时向服务端传递的参数
                progtype: $('#inputType').val(), // 请求时向服务端传递的参数
            },
            success:function (data) {
                if(data == null || data.length == 0 || data.length == 1){
                    alert("查询结果为空");
                    $('#dataTable').bootstrapTable('destroy');

                    <!--$("#echartsId").css("display","none");//隐藏div-->

                    <!--return;-->
                }

                var tData = new Array();

                var COVERATEPROGData0=new Array();
                var COVERATEBRANCHData0=new Array();
                var COVERATEPROGData1=new Array();
                var COVERATEBRANCHData1=new Array();
                var COVERATEPROGData2=new Array();
                var COVERATEBRANCHData2=new Array();

                for(var i=0;i<data.length-1;i++){
                    tData[i]=data[i];
                    COVERATEPROGData0[i]=parseFloat(data[i].COVERATEPROG0);    //挨个取出类别并填入类别数组
                    COVERATEBRANCHData0[i]=parseFloat(data[i].COVERATEBRANCH0);
                    COVERATEPROGData1[i]=parseFloat(data[i].COVERATEPROG1);
                    COVERATEBRANCHData1[i]=parseFloat(data[i].COVERATEBRANCH1);
                    COVERATEPROGData2[i]=parseFloat(data[i].COVERATEPROG2);
                    COVERATEBRANCHData2[i]=parseFloat(data[i].COVERATEBRANCH2);
                }
                var headDate = data[data.length-1].date;
                querToColName();
                initTable(tData,headDate);

                drawEcharts("echarts1",c1,COVERATEPROGData0,COVERATEBRANCHData0);
                drawEcharts('echarts2',c2,COVERATEPROGData1,COVERATEBRANCHData1);
                drawEcharts("echarts3",c3,COVERATEPROGData2,COVERATEBRANCHData2);
                <!--$("#echartsId").css("display","block");//显示div-->

            },
            error:function (data) {
            console.log(data)
            }
        })
    })
    $.ajaxSetup({
          data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })
    var $table;
    var rows=1;
    //初始化bootstrap-table的内容
    function initTable (tableData,headDate) {
        var itemCode=[], //所选择因子的code
            itemName=[];  // 所选择因子的text
        var columns = [],
        initColumns = [],//公共固定列
        itemColumns = []; //动态因子列
        initColumns = [
            {
                field: 'TEAM',
                title: '开发组',
                rowspan: 2,

                //sortable: true,
                valign: 'middle'
            }
        ];
        itemName[0]=c1+"("+headDate+")";
        itemName[1]=c2+"("+headDate+")";
        itemName[2]=c3+"("+headDate+")";
        //根据选择因子绘制动态表头
        for (var i = 0; i < itemName.length; i++) {
            initColumns.push (
                {
                    field: "",
                    title: itemName[i] ,
                    width: 80,
                    align: "right",
                    halign: "center",
                    colspan: 6
                }
            );
            itemColumns.push(
                {
                    field: 'COVEREDPROG' + i,
                    title: '已覆盖程序数',
                    width: 80,
                    align: 'center',
                    halign: 'center'
                },
                {
                    field: 'ALLPROG' + i,
                    title: '程序总数',
                    width: 80,
                    align: 'center',
                    halign: 'center'
                },{
                    field: 'COVERATEPROG' + i,
                    title: '程序覆盖率',
                    width: 80,
                    align: 'center',
                    halign: 'center'
                },{
                    field: 'COVERDBRANCH' + i,
                    title: '已覆盖分支数',
                    width: 80,
                    align: 'center',
                    halign: 'center'
                },{
                    field: 'ALLBRANCH' + i,
                    title: '变更分支总数',
                    width: 80,
                    align: 'center',
                    halign: 'center'
                },{
                    field: 'COVERATEBRANCH' + i,
                    title: '分支覆盖率',
                    width: 80,
                    align: 'center',
                    halign: 'center'
                }
            );
        }
        columns.push(initColumns, itemColumns); //合并表格内容

        //记录页面bootstrap-table全局变量$table，方便应用
        $('#dataTable').bootstrapTable('destroy');
        $table = $('#dataTable').bootstrapTable('destroy').bootstrapTable({
            //url: '/coverageSearch/',                      //请求后台的URL（*）
            //method: 'GET',                      //请求方式（*）
            data:tableData,
            //toolbar: '#toolbar',              //工具按钮用哪个容器
            fixedColumns: true,
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            search: false,                      //是否显示表格搜索
            fixedColumns: true,
            fixedNumber: 1,                     //固定列数
            //strictSearch: true,
            //showColumns: true,                  //是否显示所有的列（选择显示的列）
            //showRefresh: true,                  //是否显示刷新按钮
            clickToSelect: true,                //是否启用点击选中行
            //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            //uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            //showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
            //cardView: false,                    //是否显示详细视图
            //detailView: false,                  //是否显示父子表

            //得到查询的参数
            queryParams : function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    sort: params.sort,      //排序列名
                    sortOrder: params.order, //排位命令（desc，asc）
                    season: $('#inputYear').val()+$('#inputQuarter').val(), // 请求时向服务端传递的参数
                    progtype: $('#inputType').val(), // 请求时向服务端传递的参数
                };
                return temp;
            },
            columns: columns, //动态拼接生成表格
            onLoadSuccess: function (data) {

            },
            onLoadError: function () {
                <!--showTips("数据加载失败！");-->
            },
        });
    };


</script>
</html>

