<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Welcome to mynewsite</title>
</head>
<body>

<a href="{% url 'coverage' %}">覆盖率查询</a>
<br>
<br>
<div class="col-lg-2">
    <div class="input-group">
        <span class="input-group-addon">
            年份
        </span>
        <select class="form-control" id="inputYear">
			<option id="18年">18年</option>
			<option id="19年">19年</option>
		</select>
    </div>
</div>
<div class="col-lg-2 col-xm-2">
    <div class="input-group">
        <span class="input-group-addon">
            季度
        </span>
        <select class="form-control" id="inputQuarter">
			<option id="1季度">1季度</option>
			<option id="2季度">2季度</option>
            <option id="3季度">3季度</option>
			<option id="4季度">4季度</option>
		</select>
    </div>
</div>
<div class="col-lg-3">
    <div class="input-group">
        <span class="input-group-addon">
            程序类型
        </span>

        <select class="form-control" id="inputType">
			<option id="0" value="0">核心程序分支覆盖率</option>
			<option id="1" value="1">变更程序分支覆盖率</option>
		</select>

    </div>
</div>

<input type="button" value="查询" id="search" class="btn btn-info">
<input type="button" value="添加" id="add" class="btn btn-info">
<input type="button" value="修改" id="edit" class="btn btn-info">
<input type="button" value="删除" id="delete" class="btn btn-info">
<br>
<br>
<table class="table table-striped table-bordered table-hover table-responsive" id="dataTable">
</table>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txt_departmentname">部门名称</label>
                        <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="部门名称">
                    </div>
                    <div class="form-group">
                        <label for="txt_parentdepartment">上级部门</label>
                        <input type="text" name="txt_parentdepartment" class="form-control" id="txt_parentdepartment" placeholder="上级部门">
                    </div>
                    <div class="form-group">
                        <label for="txt_departmentlevel">部门级别</label>
                        <input type="text" name="txt_departmentlevel" class="form-control" id="txt_departmentlevel" placeholder="部门级别">
                    </div>
                    <div class="form-group">
                        <label for="txt_statu">描述</label>
                        <input type="text" name="txt_statu" class="form-control" id="txt_statu" placeholder="状态">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>

<!-- 模态框   信息删除确认 -->
    <div class="modal fade" id="delcfmOverhaul">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <!-- 隐藏需要删除的id -->
                    <input type="hidden" id="deleteHaulId" />
                    <p>您确认要删除该条信息吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary"
                        id="deleteHaulBtn">确认</button>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>
<br>
<br>
<table  style="width:100%">
    <tr>
        <td style="width:30%"><div id="main1" style="width: 100%;height:400px;margin: 0 auto"></div></td>
        <td style="width:30%"><div id="main2" style="width: 100%;height:400px;margin: 0 auto"></div></td>
        <td style="width:30%"><div id="main3" style="width: 100%;height:400px;margin: 0 auto"></div></td>
    </tr>
</table>

</body>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load staticfiles %}
<script src="{% static 'js/jquery/jquery-1.12.4.min.js' %}" ></script>

<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-table.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">

<!--<link href="~/Styles/sweetalert.css" rel="stylesheet" />-->

<!--<script src="~/Scripts/sweetalert.min.js"></script>-->
<script src="{% static 'bootstrap/js/bootstrap.js' %}" ></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'bootstrap/js/bootstrap-table.js' %}" ></script>
<script src="{% static 'bootstrap/js/bootstrap-table-zh-CN.js' %}" ></script>
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}" ></script>


<script src="{% static 'js/echarts/echarts.min.js' %}" ></script>
<style>
    .table .thead-blue th {
        color: #fff;
        background-color: #3195f1;
        border-color: #0d7adf;
    }
</style>

<script>

option = {
    title : {
        text: '各组程序覆盖率和分支覆盖率'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['程序覆盖率','分支覆盖率'],
        y:'bottom'
    },
    toolbox: {
        show : true,
        feature : {
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ['1组','2组','3组','4组','5组','6组','7组','8组','9组','10组']
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'程序覆盖率',
            type:'bar',
            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                symbol: 'none',
                itemStyle: {
                    normal: {
                        label:
                            {
                                show: true,
                                //position: 'right',
                                 formatter: '目标值60%',
                            }
                    }
                },
                data : [
                    {name: '目标值',
                    //silent:true,             //鼠标悬停事件  true没有，false有
                    <!--xAxis: 0, yAxis: 60,-->
                    yAxis: 60           // 警戒线的标注值，可以有多个yAxis,多条警示线   或者采用   {type : 'average', name: '平均值'}，type值有  max  min  average，分为最大，最小，平均值
                    }
                ]
            }
        },
        {
            name:'分支覆盖率',
            type:'bar',
            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
            markPoint : {
                data : [
                    {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183},
                    {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                ]
            },
            markLine : {
                symbol: 'none',
                itemStyle: {
                    normal: {
                        label:
                            {
                                show: true,
                                //  position: 'center',
                                 formatter: '目标值50%',
                            }
                    }
                },
                data : [
                    {
                        yAxis: 50
                    }
                ]
            }
        }

    ]
};

    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('main1'));
    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option);
    // 基于准备好的dom，初始化echarts实例
    var myChart2 = echarts.init(document.getElementById('main2'));
    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option);
    // 基于准备好的dom，初始化echarts实例
    var myChart3 = echarts.init(document.getElementById('main3'));
    // 使用刚指定的配置项和数据显示图表。
    myChart3.setOption(option);

    $("#delete").on("click", function () {
        $("#delcfmOverhaul").modal({
            backdrop : 'static',
            keyboard : false
        });
    })

    $("#deleteHaulBtn").on("click", function () {
        $.ajax({
          url:"/delete2/",
          type:"POST",
          <!--dataType:'json',-->
          data:{"id":$("#i1").val()},
          success:function (data) {
            $('#delcfmOverhaul').modal('hide');
            $table.bootstrapTable('refresh');
          }
        })
    })

    $("#search").on("click", function () {

        InitMainTable ();
        $('#dataTable').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
        <!--$.ajax({-->
          <!--url:"/findresult/",-->
          <!--type:"GET",-->
          <!--&lt;!&ndash;dataType:'json',&ndash;&gt;-->
          <!--data:{"i1":$("#i1").val(),"i2":$("#i2").val()},-->
          <!--success:function (data) {-->
            <!--$("#i3").val(data);-->
            <!--var obj=data;-->
            <!--var tbody=$('<tbody></tbody>');-->
            <!--$(obj).each(function (index){-->
                <!--var val=obj[index];-->
                <!--var tr=$('<tr></tr>');-->
                <!--tr.append('<td>'+ val.id + '</td>' + '<td>'+ val.name + '</td>'+ '<td> 删除 </td>');-->
                <!--tbody.append(tr);-->
            <!--});-->
            <!--$('#datatable tbody').replaceWith(tbody);-->
          <!--}-->
        <!--})-->
    })


    $("#add").on("click", function () {
        <!--$('#myModal').modal();-->

        $.ajax({
          url:"/draw/",
          type:"post",
          <!--dataType:'json',-->
          <!--data:{"i1":$("#i1").val(),"i2":$("#i2").val()},-->
          success:function (data) {

          }
        })
    })

    $("#edit").on("click", function () {
        var index = 0;

        $("#dataTable tr:nth-child("+ (index+1) +") td.editable").each(function(){
            var value = $(this).text();
            $(this).html("<input value='"+value+"'>");
        });
    })



    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })
    var $table;
    var rows=1;
        //初始化bootstrap-table的内容
    function InitMainTable () {
        var itemCode=[], //所选择因子的code
            itemName=[];  // 所选择因子的text
        var columns = [],
        initColumns = [],//公共固定列
        itemColumns = []; //动态因子列
        initColumns = [
            {
                title: '序号',
                field: '',
                align: 'center',
                valign: 'middle',
                rowspan: 2,
                formatter: function (value, row, index) {
                    var pageSize = $('#dataTable').bootstrapTable('getOptions').pageSize;     //通过table的#id 得到每页多少条
                    var pageNumber = $('#dataTable').bootstrapTable('getOptions').pageNumber; //通过table的#id 得到当前第几页
                    return pageSize * (pageNumber - 1) + index + 1;    // 返回每条的序号： 每页条数 *（当前页 - 1 ）+ 序号
                }
            },{
                checkbox: true,
                rowspan: 2,
                valign: 'middle'
                //visible: true                  //是否显示复选框
            }, {
                field: 'username',
                title: '开发组',
                rowspan: 2,
                sortable: true,
                valign: 'middle'
            <!--},{-->
                <!--field:'id',-->
                <!--title: '操作',-->
                <!--rowspan: 2,-->
                <!--width: 120,-->
                <!--align: 'center',-->
                <!--valign: 'middle',-->
                <!--edit:false,-->
                //formatter: actionFormatter
                <!--formatter: function(value, row, index){-->
                    <!--return '<button type="button" class="btn btn-primary btn-xs" onclick="updateData(' +index+','+ row.id + ')">修改</button>&nbsp;<button type="button" class="btn btn-primary btn-xs" onclick="deleteData(' + row.id + ')">删除</button>';-->
                    <!--return "<button Onclick='saveRow("+index+")' class='btn small'><i class='fa fa-edit'></i> 保存</button><button Onclick='editRow("+index+")' class='btn small blue'><i class='fa fa-edit'></i> 编辑</button><button οnclick='delRow(\""+row.attrValue+"\")' class='btn small red'><i class='fa fa-trash-o'></i> 删除</button>";-->
                <!--}-->
            }
        ];
        itemName[0]="10月版";
        itemName[1]="11月版";
        itemName[2]="12月版";
            //根据选择因子绘制动态表头
            for (var i = 0; i < itemName.length; i++) {
                initColumns.push (
                    {
                        field: "",
                        title: itemName[i] ,
                        width: 80,
                        align: "right",
                        halign: "center",
                        colspan: 6
                    }
                );

                itemColumns.push(
                    {
                        field: 'COVEREDPROG' + i,
                        title: '已覆盖程序数',
                        width: 80,
                        align: 'center',
                        halign: 'center'
                    },
                    {
                        field: 'ALLPROG' + i,
                        title: '程序总数',
                        width: 80,
                        align: 'center',
                        halign: 'center'
                    },{
                        field: 'COVERATEPROG' + i,
                        title: '程序覆盖率',
                        width: 80,
                        align: 'center',
                        halign: 'center'
                    },{
                        field: 'COVERDBRANCH' + i,
                        title: '已覆盖分支数',
                        width: 80,
                        align: 'center',
                        halign: 'center'
                    },{
                        field: 'ALLBRANCH' + i,
                        title: '变更分支总数',
                        width: 80,
                        align: 'center',
                        halign: 'center'
                    },{
                        field: 'COVERATEBRANCH' + i,
                        title: '分支覆盖率',
                        width: 80,
                        align: 'center',
                        halign: 'center'
                    }
                );
            }
        <!--}-->
        columns.push(initColumns, itemColumns); //合并表格内容


        //记录页面bootstrap-table全局变量$table，方便应用
        var queryUrl = '/findresult/'
        $('#dataTable').bootstrapTable('destroy');
        $table = $('#dataTable').bootstrapTable({
            url: queryUrl,                      //请求后台的URL（*）
            method: 'GET',                      //请求方式（*）
            //toolbar: '#toolbar',              //工具按钮用哪个容器
            editable:true,
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: rows,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 1,                     //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: false,                      //是否显示表格搜索
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列（选择显示的列）
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                  //是否显示父子表
            theadClasses: "thead-blue",         //设置thead-blue为表头样式
            //classes: "table table-bordered table-striped table-sm table-dark",
            //得到查询的参数
            queryParams : function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    sort: params.sort,      //排序列名
                    sortOrder: params.order, //排位命令（desc，asc）
                    inputYear: $('#inputYear').val(), // 请求时向服务端传递的参数
                };
                return temp;
            },
            columns: columns, //动态拼接生成表格
            <!--[, {-->
                <!--field: 'BirthDate',-->
                <!--title: '出生日期',-->
                <!--rowspan: 2,-->
               <!--// formatter: dateFormatter-->
               <!--edit:{type:'text' }-->
            <!--}],-->
            onEditableHidden: function(field, row, $el, reason) { // 当编辑状态被隐藏时触发

                if(reason === 'save') {
                    var $td = $el.closest('tr').children();
                    $td.eq(-1).html((row.price*row.number).toFixed(2));
                    $el.closest('tr').next().find('.editable').editable('show'); //编辑状态向下一行移动
                } else if(reason === 'nochange') {
                    $el.closest('tr').next().find('.editable').editable('show');
                }
            },
            onEditableSave: function (field, row, oldValue, $el) {
                  $table = $('#dataTable').bootstrapTable({});
                  $table.bootstrapTable('updateRow', {index: row.rowId, row: row});
            },
            onLoadSuccess: function (data) {

            },
            onLoadError: function () {
                <!--showTips("数据加载失败！");-->
            },
            onDblClickRow: function (row, $element) {
                var id = row.ID;
                //EditViewById(id, 'view');
            },
        });
    };
function saveRow(index, value){
    var obj = $("#dataTable tr:nth-child("+ (index+1) +") td.editable");
    var attrValue = obj.first().find("input").val();
    var sellPrice = obj.last().find("input").val();
    var newData = {
        attrValue: attrValue,
        sellPrice: sellPrice
    };
    $("#dataTable").bootstrapTable('updateRow', {
        index: index,
        row: newData
    });
    obj.find("input").remove();
}
function editRow(index){
    $("#dataTable tr:nth-child("+ (index+1) +") td.editable").each(function(){
    alert(9)
        var value = $(this).text();
        $(this).html("<input value='"+value+"'>");
    });
}
function delRow(value){
    $("#dataTable").bootstrapTable('removeByUniqueId', value);
}

    function editRow1(index,id){
        $("#dataTable tr:nth-child("+ (index+1) +") td.editable").each(function(){
            var value = $(this).text();
            $(this).html("<input value='"+value+"'>");
        });
        <!--$('#dataTable a[data-name=name].editable').editable('toggleDisabled');-->
        <!--$("#dataTable").bootstrapTable('updateRow', {-->
        <!--index: index,-->
        <!--row: {-->
        <!--id: 5-->
        <!--}-->
    <!--});-->
    }

    function deleteData(id){

    }

    //连接字段格式化
    function linkFormatter(value, row, index) {
        return "<a href='" + value + "' title='单击打开连接' target='_blank'>" + value + "</a>";
    }
    //Email字段格式化
    function emailFormatter(value, row, index) {
        return "<a href='mailto:" + value + "' title='单击打开连接'>" + value + "</a>";
    }
    //性别字段格式化
    function sexFormatter(value) {
        if (value == "女") { color = 'Red'; }
        else if (value == "男") { color = 'Green'; }
        else { color = 'Yellow'; }

        return '<div  style="color: ' + color + '">' + value + '</div>';
    }
</script>
</html>